<!DOCTYPE html>

<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">
</head>
<footer>
    <ul>
        <li id="copyright-style">©CCC</li>
        <li id="contact-style"><a href='/contact'>Contact</a></li>
        <li id="about-style"><a href='/about'>About</a></li>
        <li id="fbpos"><a href="https://www.facebook.com/"><img src="/assets/images/facebook.png" alt="facebook logo"
                    height="30" width="30" /></a></li>
        <li id="twitterpos"><a href="http://twitter.com/"><img src="/assets/images/twitter.png" alt="twitter logo"
                    height="30" width="30" /></a></li>
        <li id="instapos"><a href="http://instagram.com/"><img src="/assets/images/instagram.png" alt="instagram logo"
                    height="30" width="30" /></a></li>
    </ul>
</footer>

</html>