<!DOCTYPE html>

<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">
</head>
<header>
    <ul>
        <li><a href='/'>
                <img id="logo-style" src="/assets/images/logo.png" alt="logo"></a></li>
        <li>
            <h1 id="title-style">Charlotte Chess Club</h1>
        </li>
    </ul>
    <ul id="right-nav">
        <li><a href='/user/newConnection'>Add a Tournament</a></li>
        <li><a href='/user/savedConnections'>My Tournaments</a></li>
        <li><a href='/user/signout'>Sign-out</a></li>
    </ul>

</header>

</html>